#überschrift {
    color: rgb(189, 135, 157);
    font-size: 400%;
    font-family: WindSong, cursive;
}

body {
    background-color: rgb(255, 219, 224);
    margin-left: 30px;
    margin-top: 30px;
}

table {
    text-align: center;
    table-layout: fixed;
    width: 400px;
    cursor: url("rose.png") ,auto;
}

td:hover {
    background-color: rgb(196, 128, 128);
}

tbody {
    background-color: rgba(243, 166, 177, 0.692);
}

#buttonClick {
    display: flex;
    gap: 76px;
    font-family: windsong ,cursive;
    font-size: xx-large;
    color: rgb(189, 135, 157);    
    background-color: rgba(243, 166, 183, 0.397);
    width: fit-content; 
}

#neuerMonat {
    background-color: rgb(189, 135, 157);
    border-color: rgb(189, 135, 157);
    background-image: url("pfeil.png");
    width: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#alterMonat {
    background-color: rgb(189, 135, 157);
    border-color: rgb(189, 135, 157);
    background-image: url("pfeil.png");
    width: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(180deg);
}


#wochenTage {
    color: rgb(189, 138, 159);
    background-color: rgba(189, 135, 157, 0.425);
    font-family: windsong;
    font-size: larger;
    text-align: center;
    table-layout: fixed;
    font-weight: lighter;
}


tr {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    font-family: windsong;
}

#vorMonat {
    color: rgba(169, 169, 169, 0.39);
    font-weight: normal;
    background-color: rgba(189, 135, 157, 0.164);
}

#neuMonat {
    color: rgba(169, 169, 169, 0.39);
    font-weight: normal;
    background-color: rgba(189, 135, 157, 0.164);
}

#sa {
    color: rgba(0, 162, 255, 0.342);
}

#so {
    color: rgba(255, 0, 0, 0.432);
}

li {
    color: rgb(189, 135, 157);
    font-weight: bold;
    background-color: rgba(189, 135, 157, 0.137);
    width:max-content;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#heute {
    color: rgb(245, 51, 187);
    background-color: rgba(253, 94, 169, 0.521);
}


footer {
    font-size: xx-small;
    color: rgb(189, 135, 157);
}